<section class="sectionEspecial">

    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-11" >
                <h1>Carnaval</h1>
                <div class="row">
                    <div class="col-md-6" >
                        <a href="./pages/detalleNoticia1.html"><article class="containerNoticias">
                            <figure>
                                <img class="imgPosteoSecundario" src="{{asset('build/img/imgNoticia1.jpg')}}" alt="img1">
                            </figure>
                            <div>
                                <h3>La Selección argentina extiende su invicto a 28 partidos</h3>
                                <a href="./pages/detalleNoticia1.html">Ir a la noticia</a>
                            </div>
                        </article></a>
                    </div>
                    <div class="col-md-6" >
                        <a href="./pages/detalleNoticia1.html"><article class="containerNoticias">
                            <figure>
                                <img class="imgPosteoSecundario" src="{{asset('build/img/imgNoticia1.jpg')}}" alt="img1">
                            </figure>
                            <div>
                                <h3>La Selección argentina extiende su invicto a 28 partidos</h3>
                                <a href="./pages/detalleNoticia1.html">Ir a la noticia</a>
                            </div>
                        </article></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4" >
                        <a href="./pages/detalleNoticia3.html"><article class="containerNoticias">
                            <figure>
                                <img class="imgPosteoSecundario" src="./img/imgNoticia3.jpg" alt="img3">
                            </figure>
                            <div>
                                <h3>Argentinos, argentinas y residentes con esquema completo no deberán presentar PCR al ingresar al país</h3>
                                                    </p>
                                <a href="./pages/detalleNoticia3.html">Ir a la noticia </a>
                            </div>
                        </article></a>
                    </div>
                </div>
            </div>                    
        </div>
    </div>
</section            
                