{% extends 'default/layout.html.twig' %}

{% set _content_title = 'Página principal' %}

{% block page_title -%}
    {{ _content_title }}
{%- endblock %}

{% block main %}
    <div style="text-align:center; width: 100%; height:50px;padding-top:2%;"><h3>Panel de Administración de Chaco TV</h3></div>
{% endblock %}